<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ace="http://www.icefaces.org/icefaces/components">
    <h:head>
        <title>WEBAPP powered by JSF v3.1</title>
    </h:head>
    <h:body>
        <h:form id="application">
            <table>
                <tr>
                    <td>
                        <h3>Иванов Евгений Дмитриевич P33212</h3>
                    </td>
                    <td>
                        <h3>Вариант 12334</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span>X</span>
                            <h:inputText id="x" value="#{function.x}" style="width:60px;" required="true">
                                <f:validateDoubleRange minimum="-3" maximum="3"/>
                            </h:inputText>
                            <span>Minimum: -3; Maximum: 3</span>
                        </p>
                        <p>
                            <h:message for="x"/>
                        </p>
                        <p>
                            <span>Y</span>
                            <h:inputText id="y" value="#{function.y}" style="width:60px;" required="true">
                                <f:validateDoubleRange minimum="-3" maximum="3"/>
                            </h:inputText>
                            <span>Minimum: -3; Maximum: 3</span>
                        </p>
                        <p>
                            <h:message for="y"/>
                        </p>
                        <p>
                            <span>R</span>
                            <h:inputText id="r" value="#{function.r}" style="width:60px;" required="true">
                                <f:validateDoubleRange minimum="1" maximum="3"/>
                            </h:inputText>
                            <span>Minimum: 1; Maximum: 3</span>
                        </p>
                        <p>
                            <h:message for="y"/>
                        </p>
                        <p>
                            <em>Press ENTER to check the point</em>
                        </p>
                        <p>
                            <span>Belongs = </span>
                            <h:outputText id="point" value="#{function.result}"/>
                        </p>
                        <h:messages/>
                        <ace:graphicImage id="pict" url="figure.png"/>
                    </td>
                    <td>
                    	<p>
                    		<span>User nickname: </span>
                    		<h:outputText value="#{store.userName}" />
                    	</p>
                    	<p>
                    		<span>User ID: </span>
                    		<h:outputText value="#{store.userID}" />
                    	</p>
                        <ace:dataTable id="table" var="result" value="#{store.data}">
                            <ace:column headerText="X" value="#{result.x}">
                                <h:outputText value="#{result.x}"/>
                            </ace:column>
                            <ace:column headerText="Y" value="#{result.y}">
                                <h:outputText value="#{result.y}"/>
                            </ace:column>
                            <ace:column headerText="R" value="#{result.r}">
                                <h:outputText value="#{result.r}"/>
                            </ace:column>
                            <ace:column headerText="Result" value="#{result.included}">
                                <h:outputText value="#{result.included}"/>
                            </ace:column>
                        </ace:dataTable>
                        <h:commandButton value="Clear">
                            <f:actionListener type="com.s284746.web.faces.event.DataDeleter"/>
                        </h:commandButton>
                        <span>Entered data must be correct</span>
                    </td>
                </tr>
            </table>
        </h:form>
    </h:body>
</html>