<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>WEBAPP powered by JSF v3.1</title>
    </h:head>
    <h:body>
        <h:form id="application">
            <table>
                <tr>
                    <td>
                        <h3>Иванов Евгений Дмитриевич P33212</h3>
                    </td>
                    <td>
                        <h3>Вариант 12334</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                    	<span>Username</span>
                        <h:inputText value="#{store.userName}" required="true" />
                    </td>
                    <td>
                    	<h:commandButton value="Start" action="action?faces-redirect=true" />
                    </td>
                </tr>
            </table>
        </h:form>
    </h:body>
</html>